
$enable-rounded: false;
$body-bg: #F8F8F8;
$primary: #48A5AB;
$headings-color: $primary;
$headings-font-family: Raleway, $font-family-sans-serif;
$navbar-light-color: #919aa1;
$navbar-light-active-color: #919aa1;
$navbar-light-hover-color: $primary;
$gray-600: rgb(124, 124, 124);
$body-color: $gray-600;
$link-hover-decoration: none;
$gray-900: rgb(39, 39, 39);
$gray-800: rgb(65, 65, 65);
$gray-700: rgb(88, 88, 88);
$gray-500: rgb(190, 190, 190);
$gray-300: rgb(230, 230, 230);
$gray-200: rgb(240, 240, 240);
$gray-400: rgb(218, 218, 218);
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.70;
$blue: rgb(0, 127, 206);
$info: $blue;