body {
  background-color: rgb(240, 240, 240) !important;
  word-break: break-word;
  word-wrap: break-word;
}

a {
  outline: none;
}

pre {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}

code {
  white-space: pre-wrap;
  word-break: break-word;
  display: inline-block;
  max-width: 100%;
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 0.05rem 0.3rem 0.05rem 0.3rem;

}

::-moz-selection {
  color: white;
  background: #48A5AB;
}

::selection {
  color: white;
  background: #48A5AB;
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

.site-header-name {
  font-size: 2.5rem;
}

.site-header-name:hover {
  text-decoration: none;
}

.nav-bar {
  margin-bottom: 2em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

nav > a {
  color: rgb(190, 190, 190);
  font-family: 'Raleway', 'Verdana', Sans-Serif;
  text-shadow: 0px 0px 3px #F8F8F8;
}

nav > a:hover {
  color: #48A5AB;
  text-decoration: none;
}

.blog-split {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.blog-post-title:hover {
  text-decoration: none;
}

.site-pagination {
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.site-pagination > a {
  font-family: 'Verdana', Sans-Serif;
}

.site-footer {
  padding: 2rem 0;
  color: rgb(190, 190, 190);
  text-align: center;
  background-color: #f7f7f9;
}

.container {
  background-color: #F8F8F8;
  box-shadow: 0px 0px 15px rgb(190, 190, 190);

}

/* pygments */
.hll > pre {
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  border-left: #48A5AB 2px solid;
  border-bottom: #DADADA 1px solid;
}
/* end pygments */